<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mylocalshop">
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".widget.activity.TotalProductsDisplayActivity"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mylocalshop.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>
        <receiver android:name=".widget.TotalProductsOnShopWidgetProvider"
            android:label="Fav MyLocalShop Product Widget">
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"></meta-data>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".search.activity.ProductsListActivity"
            android:label="@string/title_item_list"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".search.activity.ProductDetailActivity"
            android:label="@string/title_product_detail"
            android:parentActivityName=".search.activity.ProductsListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mylocalshop.search.activity.ProductsListActivity"></meta-data>
        </activity>
        <activity android:name=".post.activity.PostProductActivity"></activity>

        <service
            android:name=".post.service.FetchAddressIntentService"
            android:exported="false"></service>
        <service
            android:name=".post.service.ImageUploadService"
            android:exported="false"></service>
        <service
            android:name=".common.database.service.MarkProductFavoriteService"
            android:exported="false"></service>
        <service
            android:name=".common.database.service.GetTotalFavoriteProductsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />
    </application>

</manifest>